<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
<link rel="stylesheet" href="style.css" />
	<title>Custom Website</title>

</head>
<body>

	<div class="wrapper">
		<nav class="navbar">
  <h1 class="heading"><a href="/home">Courses</a></h1>
   <ul>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/logout">logout</a></li>
  </ul>
  </nav>

	
	
<div class="center">
			<h1>Welcome  <%= userdata.fullname %>   To Courses</h1>
			<h3>Learn Something New</h3>
			<div class="buttons">
<button class="btn2"><a href="/deshbord">DeshBord</a></button> 
			</div>
	</div>
</body>
</html>