<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Custom Website</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<div class="wrapper">
			 <%- include('header.ejs'); %>
		
<div class="center">
			<h1>Welcome  To Courses</h1>
			<h3>Learn Something New</h3>
			<h3>Click On Register button to Start journey</h3>
			<div class="buttons">
			<button><a href="/register">Register</a></button>
			<button class="btn2"><a href="/login">LogIn</a></button> 
	
			
		</div>
		</div>
</body>
</html>